<!DOCTYPE html5>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="LadyYogaClothingCo" content="Esta es mi primer pagina web" />
    <meta name="author" content="Francisco Garcia Mendez" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="lady yoga clothing, fitness wellness T-Shirts, hoodies design, ladyyoga web" />
    <link rel="stylesheet" href="/MiRepositorio/assets/css/estilos.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&family=Lobster&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat"
    />
    <title>Lady Yoga Clothing Co.</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <header>
      <div id="headerOferta">
        <p id="promoTop">
          ⚡💳 UP TO 50% OFF + 12 no interest monthly payments 💳⚡
        </p>
      </div>

      <div class="container">
        <div class="topnav">
          <img
            id="logo"
            src="https://i.ibb.co/jkx1R3y/Logo-Lady-Yoga-Pagina-Coder.png">
         
          <h1 id="tituloPrincipal">Lady Yoga Clothing Co.</h1>
          <form class="form-inline">
            <input
              class="form-control mr-md-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
          </form>
          <div id="botonSearch">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </div>
        </div>
      </div>
    </header>

    <nav role="navigation">
      <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
         
        <ul id="menu">
          <li><a href="/MiRepositorio/index.html">Main Page</a></li>
          <li><a href="/MiRepositorio/views/t-shirts.html">T-shirts</a></li>
          <li><a href="/MiRepositorio/views/tank-tops.html">Tank-Tops</a></li>
          <li><a href="/MiRepositorio/views/hoodies.html">Hoodies</a></li>
          <li><a href="/MiRepositorio/views/contact.html">Contact</a></li>
        </ul>
      </div>
    </nav>

    <div>
      <div class="container">
        <ul id="listaIndex" class="nav nav-tabs">
          <li><a href="/MiRepositorio/index.html">Main Page</a></li>
          <li><a href="/MiRepositorio/views/t-shirts.html">T-shirts</a></li>
          <li><a href="/MiRepositorio/views/tank-tops.html">Tank-Tops</a></li>
          <li><a href="/MiRepositorio/views/hoodies.html">Hoodies</a></li>
          <li><a href="/MiRepositorio/views/contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
    <div id="demoreq" class="bqhome">
      <div class="container">
        <div class="demoreq-wrap">
          
          <div class="demoreq-wrap-form">
            <h3>Join Our Newsletter</h3>
            <form action="" class="form form-ln">
              <label for="name">First Name</label>
              <input type="text" id="name">
  
              <label for="lastName">Last Name</label>
              <input type="text" id="lastName">
  
              <label for="name">Email</label>
              <input type="email" id="email">
  
              <label for="phone">Phone Number</label>
              <input type="phone" id="phone">
  
              <label for="company">Company</label>
              <input type="text" id="company">
  
              <button class="btn">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

<footer class="footer">
  <div class="findus">
    <span class="title mr20"><b>#find</b>us</span>
    <a href="https://www.facebook.com/ladyyogaclothingco" target="_blank" class="mr20">
      <img src="https://www.e-chords.com/images/findus-facebook.png" alt="Facebook">
    </a>
    <a href="https://www.instagram.com/ladyyogaclothingco/" target="_blank" class="mr20">
      <img src="https://www.e-chords.com/images/findus-instagram.png" alt="Instagram">
    </a>
    <a href="#" class="payment">
        <img src="https://www.e-chords.com/images/ico-pay-with-paypal.png" alt="Pay with PayPal" class="mr20">
        <img src="https://www.e-chords.com/images/credit-cards.png" alt="Credit cards accepted">
    </a>
  </div>
  <code>All Rights Reserved 2010-2020</code>
  <address>
    <a class="footer__link--active" href="https://teespring.com/stores/lady-yoga-clothing-co"
      >OUR ONLINE STORE</a
    >
  </address>
  <button class="button button--state-success" href="#">
    SUSCRIBE
  </button>  
</footer>
  </body>
</html>
